---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: "stratos-metrics-{{ .Values.cfName }}"
  labels:
    component: firehose-exporter
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: "stratos-metrics-{{ .Values.cfName }}"
        component: firehose-exporter
    spec:
      containers:
      - image: {{.Values.dockerRepository}}/{{.Values.dockerOrganization}}/{{.Values.nginx.image}}:{{.Values.imageTag}}
        name: nginx
        env:
        - name: USERNAME
          value: "{{ .Values.nginx.username }}"
        - name: PASSWORD
          value: "{{ .Values.nginx.password }}"
        ports:
        - containerPort: 443
          name: https
          protocol: TCP
        volumeMounts:
        - name: ssl-cert
          mountPath: /etc/secrets
          readOnly: true
        - name: nginx-config
          mountPath: /etc/nginx/conf.d/
      {{- if .Values.firehoseExporter.enabled }}
      - image: {{.Values.dockerRepository}}/{{.Values.dockerOrganization}}/{{.Values.firehoseExporter.image}}:{{.Values.imageTag}}
        name: firehose-exporter
        env:
        {{- if .Values.firehoseExporter.noIdentityZone }}  
        - name: FIREHOSE_EXPORTER_UAA_URL
          value: "https://{{ .Values.env.UAA_HOST }}:{{ .Values.env.UAA_PORT }}"
        {{- else if .Values.env.UAA_HOST }}  
        - name: FIREHOSE_EXPORTER_UAA_URL
          value: "https://{{ .Values.env.UAA_CF_IDENTITY_ZONE }}.{{ .Values.env.UAA_HOST }}:{{ .Values.env.UAA_PORT }}"
        {{- else }}
        - name: FIREHOSE_EXPORTER_UAA_URL
          value: "https://{{ .Values.firehoseExporter.uaa.cfIdentityZone }}.{{ .Values.firehoseExporter.uaa.endpoint }}"
        {{- end }}
        - name: FIREHOSE_EXPORTER_UAA_CLIENT_ID
          value: "{{ .Values.firehoseExporter.uaa.client }}"
        - name: FIREHOSE_EXPORTER_UAA_CLIENT_SECRET
          value: "{{ .Values.firehoseExporter.uaa.clientSecret }}"
        {{- if .Values.env.DOMAIN }}  
        - name: FIREHOSE_EXPORTER_DOPPLER_URL
          value: "wss://doppler.{{ .Values.env.DOMAIN }}:{{.Values.env.DOPPLER_PORT}}"
        {{- else }}
        - name: FIREHOSE_EXPORTER_DOPPLER_URL
          value: "{{ .Values.firehoseExporter.dopplerUrl }}"
        {{- end }}
        - name: FIREHOSE_EXPORTER_SKIP_SSL_VERIFY
          value: "{{ .Values.firehoseExporter.uaa.skipSslVerification}}"
        {{- if .Values.env.DOMAIN }}  
        - name: FIREHOSE_EXPORTER_METRICS_ENVIRONMENT	
          value: "wss://doppler.{{ .Values.env.DOMAIN }}:{{.Values.env.DOPPLER_PORT}}"
        {{- else }}
        - name: FIREHOSE_EXPORTER_METRICS_ENVIRONMENT	
          value: "{{ .Values.firehoseExporter.dopplerUrl }}"
        {{- end }}
        ports:
        - containerPort: 9186
          name: fh-exp
          protocol: TCP
      initContainers:
      - name: setup-uaa
        image: {{.Values.dockerRepository}}/{{.Values.dockerOrganization}}/{{.Values.firehoseExporter.initContainerImage}}:{{.Values.imageTag}} 
        env:
        - name: SKIP_SSL_VALIDATION
          value: "{{ .Values.firehoseExporter.uaa.skipSslVerification}}"

        {{- if .Values.env.UAA_HOST }}  
        - name: UAA_ENDPOINT
          value: "{{ .Values.env.UAA_HOST }}:{{ .Values.env.UAA_PORT }}"
        {{- else }}
        - name: UAA_ENDPOINT
          value: "{{ .Values.firehoseExporter.uaa.endpoint }}"
        {{- end }}
        - name: UAA_ADMIN
          value: "{{ .Values.firehoseExporter.uaa.admin.client }}"
        - name: UAA_ADMIN_SECRET
          value: "{{ template "uaaClientSecret" . }}"
        - name: CF_IDENTITY_ZONE
        {{- if .Values.env.UAA_CF_IDENTITY_ZONE }}  
          value: "{{ .Values.env.UAA_CF_IDENTITY_ZONE }}"
        {{- else }}
          value: "{{ .Values.firehoseExporter.uaa.cfIdentityZone }}"
        {{- end }}
        - name: PROMETHEUS_ADMIN_CLIENT
          value: "{{ .Values.firehoseExporter.uaa.prometheusAdmin.client }}"
        - name: PROMETHEUS_ADMIN_CLIENT_SECRET
          value: "{{ .Values.firehoseExporter.uaa.prometheusAdmin.clientSecret }}"
        - name: PROMETHEUS_CLIENT
          value: "{{ .Values.firehoseExporter.uaa.client }}"
        - name: PROMETHEUS_CLIENT_SECRET
          value: "{{ .Values.firehoseExporter.uaa.clientSecret }}"
      {{- end }}
      volumes:
      - name: ssl-cert
        secret:
          secretName: "{{ .Release.Name }}-nginx-tls"
      - name: nginx-config
        configMap:
          name: "{{ .Release.Name }}-stratos-metrics-config"
          items:
          - key: nginx-config
            path: nginx.conf
          - key: nginx-metadata
            path: metadata.json
